html{
  font-family: 'Lora', serif;
}
body {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  background-image: url("https://images.pexels.com/photos/4199142/pexels-photo-4199142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

}

.navbar {
  background-color: rgba(0, 0, 0);
  display: flex;

}

.navbar a {
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.navbar a:hover {
  background-color: rgb(209, 209, 209);
}

.signDiv {
  display:flex;
  justify-content: flex-end;
}


.icon {

  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://images.pexels.com/photos/4033296/pexels-photo-4033296.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

}

.searchBar {

  display: flex;
  justify-content: center;
  margin: 10px;
  background-color:rgba(0, 0, 0);
  margin: 0;
  padding: 10px;
}

.searchBar span {
  color: white;
}

.main {

 display: flex;
 max-height: 100%;

}

.recipeImg {

  padding: 15px;
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.ingredients {


  padding: 15px;
  overflow: auto;
  background-color: white;
  width: 90%;
}

.recipe{

  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
  background-color: white;
  width: 90%;
}

.imgStyle{
  border-radius: 100px;
  width: 300px;
  height: 300px;

}

.blackBorder{
  border: solid black 2px;
}

@media (max-width: 1000px) {
  body {
    width: 95%;
  }

}

@media (max-width: 700px) {
  body {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
  }
  .main {
    flex-direction: column;
    width:80%;
    justify-content: center;
    margin: 0 auto;
  }

}




footer{
  background-color: rgba(25, 25, 25, 0.3);
  display: flex;
  justify-content: center;
  font-size: 11px;
}
