body {
  max-width: 1300px;
  margin: 0 auto;
  background-image: url("")
}

.icon {

  height: 250px;
  display: flex;
  justify-content: center;
}

.searchBar {

  display: flex;
  justify-content: center;
}

.main {
 border: solid green 5px;
 display: flex;
 height: 500px;
}

.recipeImg {
  background-color: red;
  padding: 15px;
}

.ingredients {
  background-color: yellow;
  width: 100%;
  padding: 15px;
}

.recipe{
  width: 100%;
  padding: 15px;
  height: 100%;

}

footer{
  background-color: orange;
  display: flex;

}
